    header {
        width: 100%;
        height: auto;
        margin: 0;
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #aebfbc 0%, #99afab 0%, #8ea6a2 0%, #829d98 0%, #d8e0de 0%, #395177 22%, #0e0e0e 100%);
    }
    
    body {
        width: 100%;
        height: 100%;
        margin: auto;
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #1e3046 0%, #133342 30%, #0b2d3d 31%, #032838 70%);
    }
    
    footer {
        width: 100%;
        height: auto;
        margin: 0;
        background: linear-gradient(135deg, #0e0e0e 100%, #395177 22%, #d8e0de 0%, #829d98 0%, #8ea6a2 0%, #99afab 0%, #aebfbc 0%);
    }
    
    #logo {
        width: 250px;
        margin-top: 0;
        margin-left: 0;
        float: unset;
    }
    
    #logoFooter {
        width: 25%;
        margin: 0;
        float: unset;
    }
    
    .lista {
        list-style: none;
        padding: 0;
    }
    
    @media all and (max-width: 767px) {
        .carousel-sm-responsive {
            object-fit: fill;
            height: auto;
        }
    }
    
    @media all and (min-width:768px) and (max-width: 1020px) {
        .carousel-md-responsive {
            object-fit: fill;
            height: auto;
        }
    }