    header {
        max-width: auto;
        min-height: 80px;
        margin: 0 auto;
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #aebfbc 0%, #99afab 0%, #8ea6a2 0%, #829d98 0%, #d8e0de 0%, #395177 22%, #0e0e0e 100%);
    }
    
    footer {
        max-width: auto;
        min-height: auto;
        margin: 0 auto;
    }
    
    body {
        width: 100%;
        height: 100%;
        margin: auto;
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #063554 0%, #085376 50%, #074a6b 51%, #0b77a5 100%);
    }
    
    #logo {
        width: 250px;
        margin-top: 0;
        margin-left: 0;
        float: unset;
    }
    
    .lista {
        list-style: none;
        padding: 0;
    }
    /* Login */
    
    .googleFace {
        width: 100%;
        height: 40px;
        text-align: center;
        outline: none;
    }
    /* Index */
    
    .listaindex {
        list-style: none;
        padding: 0px;
    }
    
    @media all and (max-width: 767px) {
        .map-sm-responsive {
            width: 330px;
            height: 330px;
        }
        .carousel-sm-responsive {
            object-fit: cover;
            height: 192px;
        }
        .buscador {
            width: 70%;
            margin-right: 8px;
        }
        .title-sm {
            font-size: 40px;
        }
        .subtitle-sm {
            font-size: 35px;
        }
    }
    
    @media all and (min-width:768px) and (max-width: 1020px) {
        .map-md-responsive {
            width: 500px;
            height: 300px;
        }
        .carousel-md-responsive {
            object-fit: cover;
            height: 265px;
        }
        .card-md-responsive {
            object-fit: cover;
            height: 330px;
        }
    }