* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(135deg, #aebfbc 0%, #99afab 0%, #8ea6a2 0%, #829d98 0%, #d8e0de 0%, #395177 22%, #0e0e0e 100%);
}

header .fondoNav {
    background: linear-gradient(135deg, #aebfbc 0%, #99afab 0%, #8ea6a2 0%, #829d98 0%, #d8e0de 0%, #395177 22%, #0e0e0e 100%);
}

header .boton {
    background: transparent;
    border-radius: 12px;
    color: #fafafa;
    border: 2px solid #a9c4ce;
    font-size: 17px;
    padding: 3px;
    text-decoration: none;
}

header .boton:hover {
    background-color: rgba(131, 106, 106, 0.4);
    color: white;
}

header .boton:active {
    box-shadow: 1px -2px 1px #cdd9e9;
    position: relative;
    border-bottom: 0px;
}


/* .contenedorHeader { */


/* width: 90%; */


/* } */


/*  */


/* header .contenedorHeader { */


/* display: flex; */


/* justify-content: space-between; */


/* align-items: center; */


/* } */

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(135deg, #1e3046 0%, #133342 30%, #0b2d3d 31%, #032838 70%);
}

main {
    width: 100%;
    padding: 0;
    margin: 0;
}

footer {
    position: absolute;
    width: 100%;
    padding: 25px 0;
    background: linear-gradient(135deg, #0e0e0e 100%, #395177 22%, #d8e0de 0%, #829d98 0%, #8ea6a2 0%, #99afab 0%, #aebfbc 0%);
}

.lista {
    list-style: none;
    padding: 0;
}


/* --Tira de peliculas-- */

.filaPeliculas {
    margin: 15px 0;
}

.filaPeliculas .contenedorPrincipal {
    margin: 10px 0;
    display: flex;
    align-items: center;
    position: relative;
}


/* --Configuracion de botones lateraless-- */

.filaPeliculas .contenedorPrincipal .flechaIzq,
.filaPeliculas .contenedorPrincipal .flechaDer {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: rgba(72, 138, 139, 0.9);
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.filaPeliculas .contenedorPrincipal .flechaIzq:hover,
.filaPeliculas .contenedorPrincipal .flechaDer:hover {
    color: rgba(182, 240, 208, 0.9);
    background: 0;
}

.filaPeliculas .contenedorPrincipal .flechaIzq {
    left: 0;
}

.filaPeliculas .contenedorPrincipal .flechaDer {
    right: 0;
}


/*--Contenedor secundario, tira de peliculas--*/

.filaPeliculas .contenedorSecundario {
    width: 100%;
    padding: 2px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.filaPeliculas .contenedorSecundario .carousel {
    display: flex;
    flex-wrap: nowrap;
}

.filaPeliculas .contenedorSecundario .carousel .pelicula {
    min-width: 30%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.filaPeliculas .contenedorSecundario .carousel .pelicula.hover {
    transform: scale(1.2);
    transform-origin: center;
}

.filaPeliculas .contenedorSecundario .carousel .pelicula img {
    width: 100%;
    vertical-align: top;
}


/* --Media Queries-- */

@media all and (max-width: 767px) {
    .carousel-sm-responsive {
        object-fit: fill;
        height: auto;
    }
    .logo {
        max-width: 200px;
        max-height: 200px;
        padding: auto;
        margin: auto;
    }
    .logoFooter {
        width: 25%;
        margin: auto;
    }
}

@media all and (min-width: 768px) and (max-width: 1800px) {
    .carousel-md-responsive {
        object-fit: fill;
        height: auto;
    }
    .logo {
        max-width: 200px;
        max-height: 200px;
        padding: auto;
        margin: auto;
    }
    .logoFooter {
        width: 70%;
        margin: auto;
    }
}